# OS generated
.DS_Store
**/.DS_Store

# Karabiner
home/.config/karabiner/automatic_backups
home/.config/fish/fish_variables
home/.config/zsh/.zcompdump
home/.config/zsh/.zsh_history
home/.config/zsh/.zsh_sessions
home/.gitconfig.local
home/.config/theme/current.json
home/.config/wezterm/commands.local.lua
fish_variables
.env
lib/env.sh
home/.bash_exports.local
home/.bash_secrets
.claude/settings.local.json
home/.config/wezterm/projects.local.lua
home/.claude/docs/blog-drafts
