[user]
	name = Meagan Waller

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  autocrlf = input
  pager = delta

[pager]
  diff = delta
  status = true

[diff]
  colorMoved = default
  algorithm = patience # more intelligent diff algorithm

[interactive]
  diffFilter = delta --color-only

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[color]
  ui = auto

[alias]
  co = checkout
  st = status -sb
  ci = commit
  br = branch
  lg = log --oneline --graph --decorate --all

[delta]
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true
  syntax-theme = Monokai Extended
  diff-so-fanacy = true
  max-line-length = 200 # prevent overly wide diffs

[delta "interactive"]
  keep-plus-minus-markers = false

[merge]
  conflictstyle = diff3

[help]
  autocorrect = 1

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  verbose = true
  gpgsign = true

# Local machine overrides (never committed)
[include]
  path = ~/.gitconfig.local
[maintenance]
	repo = /Users/meagan.waller/workspace/web
