---
layout: default
---

{% include layout/header.html %}
<main class="mx-auto max-w-screen-xl px-6 lg:px-24 mb-auto">
  <section class="grid grid-cols-6 py-6">
    <div class="col-span-full xl:col-span-4 xl:col-start-2 rounded p-8 bg-primary/10 dark:bg-primary/20">
			<div class="prose dark:prose-invert mb-6">
				{{ content }}
			</div>
		</div>
  </section>

  <section class="grid grid-cols-6 py-6">
    <div class="col-span-full xl:col-span-4 xl:col-start-2">
      <div class="flex justify-start">
        <div class="text-sm uppercase w-60">Latest Reviews</div>
        <div class="w-full">
          <span class="inline-block w-full h-px mb-1 bg-primary/10 dark:bg-primary/20"></span>
        </div>
      </div>
    </div>
    <div class="col-span-full xl:col-span-4 xl:col-start-2">
      <div class="w-full pt-8">
        {% assign sorted_reviews = site.reviews | sort: 'date' | reverse %}
        {% for review in sorted_reviews limit:4 %}
        {% include helpers/reviews-loop.html review=review %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="grid grid-cols-6 py-6">
		<div class="col-span-full xl:col-span-4 xl:col-start-2">
		  <div class="flex justify-start">
				<div class="text-sm uppercase w-60">Latest Post</div>
					<div class="w-full">
				  <span class="inline-block w-full h-px mb-1 bg-primary/10 dark:bg-primary/20"></span>
					</div>
				</div>
			</div>
			<div class="col-span-full xl:col-span-4 xl:col-start-2">
				<div class="w-full pt-8">
					{% for post in site.posts limit:1 %}
					{% include helpers/posts-loop.html %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

  <section class="grid grid-cols-6 py-6">
		<div class="col-span-full xl:col-span-4 xl:col-start-2">
		  <div class="flex justify-start">
				<div class="text-sm uppercase w-60">Topics</div>
					<div class="w-full">
					<span class="inline-block w-full h-px mb-1 bg-gray-200 dark:bg-gray-800"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-span-full xl:col-span-4 xl:col-start-2">
			<div class="w-full pt-8 leading-8">
				{% assign sorted_tags = site.tags | sort %}
				{% for tag in sorted_tags %}
				{% assign tag_name = tag[0] %}
				  {% assign display_name = tag_name | replace: "-", " " %}
					  <a class="text-black dark:text-paper hover:text-primary underline" href="/topics/{{ tag_name | slugify }}/">{{ display_name }}</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</div>
		</div>
	</section>
  <section class="grid grid-cols-6 py-6">
		<div class="col-span-full xl:col-span-4 xl:col-start-2">
		  <div class="flex justify-start">
				<div class="text-sm uppercase w-60">Recent Posts</div>
					<div class="w-full">
					<span class="inline-block w-full h-px mb-1 bg-gray-200 dark:bg-gray-800"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-span-full xl:col-span-4 xl:col-start-2">
			<div class="w-full pt-8">
				<ul class="list-none divide-y divide-gray-200 dark:divide-gray-800">
					{% for post in site.posts offset:1 limit:10 %}
					  <li class="grid lg:grid-cols-6 py-4 gap-4 grid-cols-1">
						<div class="col-span-1 lg:col-span-1 order-2 lg:order-none">{{post.date | date: "%d %b %Y"}}</div>
						<div class="col-span-1 lg:col-span-4 order-1 lg:order-none"><a class="text-black dark:text-paper underline hover:text-primary" href="{{ post.url }}">{{ post.title }}</a></div>
						<div class="col-span-1 lg:col-span-1 order-3 lg:order-none">{% assign words = post.content | number_of_words %}{%- if words < 360 -%}1 min read{%- else -%}{{ words | divided_by:180 }} min read{%- endif -%}</div>
					</li>
					{% endfor %}
				 </ul>
			</div>
			<div class="pt-8">
				<a class="" href="/archive/" alt="Archive">
				  <span class="block m-auto max-w-3xs border border-gray-100 dark:border-gray-800 hover:border-gray-200 hover:dark:border-gray-700 rounded py-2 text-black dark:text-gray-200 text-center">
					 All Posts →
				  </span>
				</a>
			 </div>
		</div>
	</section>
</main>
