{% assign current_url = page.url | split: "/" | reject: "" | first %}

{% comment %}
Build sortable list: "count|category"
{% endcomment %}
{% assign categories = "" | split: "" %}

{% for category in site.categories %}
  {% assign name = category[0] %}
  {% assign count = category[1] | size %}
  {% assign entry = count | append: "|" | append: name %}
  {% assign categories = categories | push: entry %}
{% endfor %}

{% assign categories = categories | sort | reverse %}

<ul class="flex flex-wrap items-center gap-4 lg:gap-6">

    <li>
      <a
        href="/archive/"
        class="py-1 px-2 hover:text-primary dark:hover:text-primary_dark
        {% if current_url == 'archive' %}text-primary dark:text-primary_dark{% endif %}">
        Posts
      </a>
    </li>

    <li>
      <a
        href="/reviews/"
        class="py-1 px-2 hover:text-primary dark:hover:text-primary_dark
        {% if current_url == 'reviews' %}text-primary dark:text-primary_dark{% endif %}">
        Reviews
      </a>
    </li>

    {% for entry in categories limit:3 %}

      {% assign category = entry | split: "|" | last %}
      {% assign meta = site.data.meta[category] %}
      {% assign label = meta.label | default: category | replace: "-", " " %}

      <li>
        <a
          href="/{{ category }}/"
          class="py-1 px-2 hover:text-primary dark:hover:text-primary_dark
          {% if current_url == category %}text-primary dark:text-primary_dark{% endif %}">
          {{ label }}
        </a>
      </li>

    {% endfor %}

  </ul>
