<a href="{{ include.post.url }}" class="block group">

    <div class="aspect-video overflow-hidden rounded-lg">
      <img
        src="{{ include.post.image }}"
        class="w-full h-full object-cover group-hover:scale-105 transition">
    </div>

    <div class="flex items-center gap-3 mt-3 text-sm text-neutral-500">
      <span class="font-mono">{{ include.post.category }}</span>
      <span>{{ include.post.date | date: "%B %d, %Y" }}</span>
    </div>

    <h3 class="mt-2 text-lg font-medium">
      {{ include.post.title }}
    </h3>

    </a>
