@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";

/* ... any other imports or css classes */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-serif: "Instrument Serif", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;

  --color-gray-*: initial;
  --color-black: #262626;
  --color-black-5: #2626260d;
  --color-white: #ffffff;
  --color-blue: #bfd2d8;
  --color-green: #d4d5c3;

  --color-paper: oklch(97.53% 0.004 106.47);

  --color-gray-50: oklch(95.37% 0.004 106.47);
	--color-gray-100: oklch(91.74% 0.004 106.47);
	--color-gray-150: oklch(88.10% 0.004 106.47);
	--color-gray-200: oklch(84.63% 0.005 106.47);
	--color-gray-300: oklch(77.21% 0.006 106.47);
	--color-gray-400: oklch(69.56% 0.006 106.47);
	--color-gray-500: oklch(61.69% 0.007 106.47);
	--color-gray-600: oklch(53.75% 0.007 106.47);
	--color-gray-700: oklch(45.31% 0.006 106.47);
	--color-gray-800: oklch(36.51% 0.005 106.47);
	--color-gray-850: oklch(32.14% 0.004 106.47);
	--color-gray-900: oklch(27.34% 0.003 106.47);
	--color-gray-950: oklch(22.28% 0.002 106.47);

	--color-red-400: oklch(59.70% 0.169 28.38);
	--color-red-600: oklch(50.42% 0.165 27.84);
	--color-orange-400: oklch(65.76% 0.154 49.30);
	--color-orange-600: oklch(56.65% 0.152 45.02);
	--color-yellow-400: oklch(73.46% 0.146 87.46);
	--color-yellow-600: oklch(63.33% 0.129 85.81);
	--color-green-400: oklch(65.13% 0.124 119.38);
	--color-green-600: oklch(55.93% 0.134 122.92);
	--color-cyan-400: oklch(55.44% 0.086 186.74);
	--color-cyan-600: oklch(67.01% 0.100 186.58);
	--color-blue-400: oklch(59.88% 0.110 247.00);
	--color-blue-600: oklch(48.18% 0.131 254.79);
	--color-purple-400: oklch(63.48% 0.110 291.00);
	--color-purple-600: oklch(45.40% 0.145 294.83);
	--color-magenta-400: oklch(63.48% 0.156 350.47);
	--color-magenta-600: oklch(49.54% 0.161 349.76);

  --radius-pill: 999999px;
  --radius-small: 16px;
  --radius-medium: 24px;
  --radius-large: 32px;
}

:root {
  --color-primary: var(--color-emerald-800);
  --color-red: var(--color-red-600);
  --color-orange: var(--color-orange-600);
  --color-yellow: var(--color-yellow-600);
  --color-green: var(--color-green-600);
  --color-cyan: var(--color-cyan-600);
  --color-blue: var(--color-blue-600);
  --color-purple: var(--color-purple-600);
  --color-magenta: var(--color-magenta-600);
}

:root[class~='dark'] {
	--color-primary: var(--color-emerald-200);
	--color-red: var(--color-red-400);
	--color-orange: var(--color-orange-400);
	--color-yellow: var(--color-yellow-400);
	--color-green: var(--color-green-400);
	--color-cyan: var(--color-cyan-400);
	--color-blue: var(--color-blue-400);
	--color-purple: var(--color-purple-400);
	--color-magenta: var(--color-magenta-400);
}

@theme inline {
	--color-primary: var(--color-primary);
	--color-red: var(--color-red);
	--color-orange: var(--color-orange);
	--color-yellow: var(--color-yellow);
	--color-green: var(--color-green);
	--color-cyan: var(--color-cyan);
	--color-blue: var(--color-blue);
	--color-purple: var(--color-purple);
	--color-magenta: var(--color-magenta);
}

@utility prose {
  --tw-prose-body: var(--color-gray-800);
  --tw-prose-headings: var(--color-gray-900);
  --tw-prose-lead: var(--color-gray-700);
  --tw-prose-links: var(--color-black);
  --tw-prose-bold: var(--color-gray-900);
  --tw-prose-counters: var(--color-gray-600);
  --tw-prose-bullets: var(--color-gray-400);
  --tw-prose-hr: var(--color-gray-300);
  --tw-prose-quotes: var(--color-gray-900);
  --tw-prose-quote-borders: var(--color-gray-300);
  --tw-prose-captions: var(--color-gray-700);
  --tw-prose-code: var(--color-gray-900);
  --tw-prose-pre-code: var(--color-gray-100);
  --tw-prose-pre-bg: var(--color-gray-900);
  --tw-prose-th-borders: var(--color-gray-300);
  --tw-prose-td-borders: var(--color-gray-200);
  --tw-prose-invert-body: var(--color-gray-200);
  --tw-prose-invert-headings: var(--color-paper);
  --tw-prose-invert-lead: var(--color-gray-300);
  --tw-prose-invert-links: var(--color-paper);
  --tw-prose-invert-bold: var(--color-paper);
  --tw-prose-invert-counters: var(--color-gray-400);
  --tw-prose-invert-bullets: var(--color-gray-600);
  --tw-prose-invert-hr: var(--color-gray-700);
  --tw-prose-invert-quotes: var(--color-gray-100);
  --tw-prose-invert-quote-borders: var(--color-gray-700);
  --tw-prose-invert-captions: var(--color-gray-400);
  --tw-prose-invert-code: var(--color-paper);
  --tw-prose-invert-pre-code: var(--color-gray-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-gray-600);
  --tw-prose-invert-td-borders: var(--color-gray-700);

  @apply prose-lg font-sans leading-7 [&>p:first-of-type]:mt-0 prose-headings:font-serif prose-headings:font-normal prose-h1:text-4xl prose-h1:mb-6 prose-h2:text-3xl prose-h2:font-medium prose-h2:mt-8 prose-h2:mb-3 prose-h3:text-2xl prose-h3:italic prose-h3:tracking-wide prose-h4:text-lg prose-h4:font-semibold prose-h4:mb-5 prose-h5:text-base prose-h5:font-sans prose-h5:font-semibold prose-h5:uppercase prose-h5:mb-4 prose-h6:text-base prose-h6:font-sans prose-h6:uppercase prose-h6:mb-2 prose-blockquote:border-l-primary prose-blockquote:not-italic prose-blockquote:font-normal prose-blockquote:py-1 prose-blockquote:bg-gray-50 dark:prose-blockquote:bg-gray-900 prose-th:font-sans prose-th:font-semibold prose-thead:border-gray-100 dark:prose-thead:border-b-gray-800 prose-tr:border-gray-100 dark:prose-tr:border-gray-800 prose-a:font-normal prose-a:hover:text-primary;
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply min-h-full bg-white text-black font-sans;
  }

  img {
    @apply max-w-full align-middle;
  }

  a {
    @apply transition-opacity;
  }

  a:hover {
    @apply opacity-50;
  }

  blockquote {
    @apply border-l-2 border-black bg-black-5 px-5 py-3;
  }

  .prose ul, .prose ol,
  article ul, article ol,
  main > ul, main > ol {
    @apply flex flex-col gap-4 my-4;
  }
}

@layer components {
  .btn {
    @apply rounded-pill bg-black text-white px-4 py-2 font-mono transition-opacity;
  }

  .btn:hover {
    @apply opacity-50;
  }
}
